<mat-toolbar class="mat-elevation-z4" color="primary">
  <!-- <button matTooltip="Home" mat-icon-button (click)="onHome()">
    <mat-icon>home</mat-icon>
  </button> -->
  <a routerLink="/">
    <img src="/assets/images/logo.png" class="toolbar-logo" alt="Lumières.Lausanne">
  </a>

  <mat-menu #appMenu="matMenu" yPosition="below">
    <button mat-menu-item>Projets</button>
    <button mat-menu-item>Activités</button>
    <button mat-menu-item>Qui sommes-nous ?</button>
    <button mat-menu-item>Partenaires</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="appMenu" *ngIf="user">
    Présentation
  </button>

  <button mat-button (click)="onThings()" *ngIf="user">
    Things
  </button>


  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <span *ngIf="user">
    <small>{{ user?.email }}</small>
  </span>
  <button matTooltip="Settings" mat-icon-button routerLink="/settings" *ngIf="user">
    <mat-icon>settings</mat-icon>
  </button>
  <button matTooltip="Logout" mat-icon-button (click)="onLogout()" *ngIf="user">
    <mat-icon>power_settings_new</mat-icon>
  </button>
  <a *ngIf="!user" matTooltip="Sign in" mat-raised-button routerLink="/signin">Sign in</a>
</mat-toolbar>
