.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar-logo {
  display: inline-block;
  height: 50%;
  width: 50%;
}

.mat-toolbar {
  height: 45px;
}


.search-panel {
  background-color: whitesmoke;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: whitesmoke;
  display: inline-flex;
  height: 25px;
  position: relative;
  z-index: 10;
}

.search-panel .mat-icon-button {
  top: -7px;
}

.search-panel input {
  background-color: whitesmoke;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: whitesmoke;
  font-size: 12pt;
  height: 27px;
}

.mat-menu-item {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.mat-raised-button {
  background-color : #DFDFDF;
  height: 70%;
  vertical-align: center;
}
