<mat-toolbar class="mat-elevation-z4 lg" color="primary">
  <!-- <button matTooltip="Home" mat-icon-button (click)="onHome()">
    <mat-icon>home</mat-icon>
  </button> -->
  <a routerLink="/">
    <img src="/assets/images/logo.png" class="toolbar-logo" alt="Accueil Lumières.Lausanne">
  </a>
  <button matTooltip="Accueil Lumières.Lausanne" mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu" yPosition="below">
    <button mat-menu-item (click)="onProjLL()">Projets Lumières.Lausanne</button>
    <button mat-menu-item>Nos activités</button>
    <button mat-menu-item>Qui sommes-nous ?</button>
    <button mat-menu-item>Partenaires</button>
  </mat-menu>

  <button class="mat-button-ll" matTooltip="Présentation" mat-button [matMenuTriggerFor]="appMenu">
    Présentation
  </button>

  <!-- <button matTooltip="Things" mat-button (click)="onThings()">
    Things
  </button> -->

  <button class="mat-button-ll" matTooltip="Liste des projets" mat-button (click)="onProjects()">
    Projets
  </button>

  <mat-menu #pubMenu="matMenu" yPosition="below">
    <button mat-menu-item>Trouvailles</button>
    <button mat-menu-item>Dernières transcriptions</button>
    <button mat-menu-item>Actes de colloque</button>
    <button mat-menu-item>Etudes Lumières.Lausanne</button>
    <button mat-menu-item>Travaux de séminaires/mémoires</button>
    <button mat-menu-item>Vidéos</button>
  </mat-menu>

  <button class="mat-button-ll" matTooltip="Publications" mat-button [matMenuTriggerFor]="pubMenu">
    Publications
  </button>

  <button class="mat-button-ll"  matTooltip="Actualités" mat-button (click)="onActus()">
    Actualités
  </button>

  <button class="mat-button-ll"  matTooltip="Recherche générale ou avancée" mat-button (click)="onSearches()">
    Recherche
  </button>

  <button class="mat-button-ll"  matTooltip="Espace de travail" mat-button (click)="onEdit()" *ngIf="user">
      Espace de travail
  </button>

  <span class="fill-remaining-space"></span>

  <!-- <div class="search-panel">
    <input matInput #search type="search" placeholder="Recherche..." />
    <button mat-icon-button (click)="doSearch(search)">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <mat-divider [inset]="true" [vertical]="true"></mat-divider> -->

  <!-- This fills the remaining space of the current row -->


  <span *ngIf="user">
    <!-- <small>{{ user?.email }}</small> -->
    <p style="font-size: small;">G. Faucherand</p>
  </span>
  <button matTooltip="Paramètres" mat-icon-button routerLink="/settings" *ngIf="user">
    <mat-icon>settings</mat-icon>
  </button>
  <button matTooltip="Déconnexion" mat-icon-button (click)="onLogout()" *ngIf="user">
    <mat-icon>power_settings_new</mat-icon>
  </button>
  <a *ngIf="!user" class="mat-button-ll" matTooltip="Se connecter" mat-button routerLink="/signin">Se connecter</a>
</mat-toolbar>
