<div class="ll-header">
    <div class="ll-header-title">
        <img src="/assets/images/logo.png">
        <h1>
          Bienvenue sur le site Lumières.Lausanne</h1>
        </div>
  </div>
  <!-- <div class="ll-header">
      <div class="ll-header-title">
          <h1>
              Bienvenue sur le site</h1><img src="/assets/images/logo.png">

          </div>
    </div> -->
    <img src="/assets/images/fake.slide-show.png">

<div class="freecontent" fxLayout="column" fxLayoutAlign="center center">
  <p>
    Lumières.Lausanne est une plateforme qui met à la disposition des chercheurs et de toute personne intéressée par le riche
    passé culturel de la Suisse francophone à l'époque des Lumières des sources inédites, de la littérature secondaire et
    des fiches biographiques sur des personnalités qui l’ont marqué (
    <a href="http://lumieres.unil.ch/chercher/bibliographie/">lien vers la recherche avancée</a>). Cet instrument de recherche est également un support de publication et un outil
    d'enseignement académique.</p>
  <p>
    31 MAI 2017: L’équipe de Lumières.Lausanne a eu le plaisir de présenter l'avancée de divers projets rattachés à la plateforme
    lors de son événement
    <a href="http://lumieres.unil.ch/actualites/99/">« Le Pays de Vaud au cœur des débats européens: des archives au numérique »</a>. De nouveaux documents ont été mis en
    ligne pour cet événement (
    <a href="http://lumieres.unil.ch/media/files/2017/04/Flyer_Lumieres.Lausanne_31.05.2017_web.pdf" target="_blank">→ Programme</a>).</p>

</div>

<!-- <div class="project-desc" fxLayout="column" fxLayoutAlign="center center">
  <p>
    Lumières.Lausanne est une plateforme qui met à la disposition des chercheurs et de toute personne intéressée par le riche
    passé culturel de la Suisse francophone à l'époque des Lumières des sources inédites, de la littérature secondaire et
    des fiches biographiques sur des personnalités qui l’ont marqué (
    <a href="http://lumieres.unil.ch/chercher/bibliographie/">lien vers la recherche avancée</a>). Cet instrument de recherche est également un support de publication et un outil
    d'enseignement académique.</p>
  <p>
    31 MAI 2017: L’équipe de Lumières.Lausanne a eu le plaisir de présenter l'avancée de divers projets rattachés à la plateforme
    lors de son événement
    <a href="http://lumieres.unil.ch/actualites/99/">« Le Pays de Vaud au cœur des débats européens: des archives au numérique »</a>. De nouveaux documents ont été mis en
    ligne pour cet événement (
    <a href="http://lumieres.unil.ch/media/files/2017/04/Flyer_Lumieres.Lausanne_31.05.2017_web.pdf"
      target="_blank">→ Programme</a>).</p>
</div> -->

<div class="project-subbox" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      <div>
        <img style="float: left; margin: 0px 15px 15px 0px;" src="/assets/images/innovagency/icon-news.png">
        <h3>ACTUALITÉS</h3>
      </div>
    </mat-card-title>
    <mat-card-content>
      <ul>

        <li>
          <a href="/actualites/117/" class="ia-link">Journées d'études "(Ré-)éditer Voltaire. Geste éditorial et réception", 1-2 mars 2018, Université de Berne...</a>
        </li>

        <li>
          <a href="/actualites/116/" class="ia-link">Conférence "Rousseau, Poland and Europe: Federalism, Sovereignty, Prosperity, Patriotism", Varsovie, 1-3 février
            2018...
          </a>
        </li>

        <li>
          <a href="/actualites/115/" class="ia-link">Journée d'étude "La République Helvétique", Unil, 8 décembre 2017</a>
          <span class="ia-date">05.12.2017</span>
        </li>

      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div>
        <img style="float: left; margin: 0px 15px 15px 0px;" src="/assets/images/innovagency/icon-transcripts.png">
        <h3>TRANSCRIPTIONS</h3>
      </div>
    </mat-card-title>
    <mat-card-content>
      <ul>

        <li>
          <div class="ellipsis">
            <div style="margin: 0px; padding: 0px; border: 0px;">


              <div class="biblioref-item doctype_5">
                <span class="contributor contrib-authors">
                  <span>Deyverdun, Jacques Georges</span>
                </span>
                <span>,
                  <em>
                    <a id="Transcription__942" href="/fiches/trans/942/" class="ia-link" target="_top" title="C. Velleii Paterculi Q. Supersunt, ex hist. Roman. Voluminib. Duobus, C. Integ. Schol: not: var: Lect: et animadv. Doct: Curante P. Burmanno Lugd. Bat: Apud Sam: Luchtmans 1719. 8°. 748. pag
        ">Essai sur Velleius Paterculus</a>
                  </em>
                </span>
                <span>, [Lausanne?]</span>
                <span>, [1756]-[1758]</span>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="ellipsis">
            <div style="margin: 0px; padding: 0px; border: 0px;">


              <div class="biblioref-item doctype_5">
                <span class="contributor contrib-authors">
                  <span>Charrière de Sévery, Wilhelm de</span>
                </span>
                <span>,
                  <em>
                    <a id="Transcription__780" href="/fiches/trans/780/" class="ia-link" target="_top" title="Sans titre [Lettre à Catherine de Charrière de Sévery, 12-18 avril 1788]">Lettre à Catherine de Charrière de Sévery</a>
                  </em>
                </span>
                <span>, Londres</span>
                <span>, 12 avril 1788-18 avril 1788</span>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="ellipsis">
            <div style="margin: 0px; padding: 0px; border: 0px;">


              <div class="biblioref-item doctype_5">
                <span class="contributor contrib-authors">
                  <span>Charrière de Sévery, Wilhelm de</span>
                </span>
                <span>,
                  <em>
                    <a id="Transcription__737" href="/fiches/trans/737/" class="ia-link" target="_top" title="Journal jour pour jour du séjour fait en Angleterre par mon grand-père Sévery en 1787-1788 (page de titre, ajout postérieur) / Journal jour pour jour du Sejour que j'ai fait en Angleterre (incipit)">Journal jour pour jour du séjour que j'ai fait en Angleterre</a>
                  </em>
                </span>
                <span>, Uckfield, Londres</span>
                <span>, 29 octobre 1787-22 juillet...</span>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div>
        <img style="float: left; margin: 0px 15px 15px 0px;" src="/assets/images/innovagency/icon-finds.png">
        <h3>TROUVAILLES</h3>
      </div>
    </mat-card-title>
    <mat-card-content>
      <ul>

        <li>
          <div class="ellipsis">
            <div style="margin: 0px; padding: 0px; border: 0px;">
              <a href="/publications/trouvailles/5/" class="ia-link">De l’astronome à l’agronome: le château de Cheseaux et ses propriétaires au XVIIIe siècle</a>
              <br>
              <span class="ia-date">décembre 2015</span>
            </div>
          </div>
        </li>

        <li>
          <div class="ellipsis">
            <div style="margin: 0px; padding: 0px; border: 0px;">
              <a href="/publications/trouvailles/4/" class="ia-link">Une lettre inédite d'Edward Gibbon</a>
              <br>
              <span class="ia-date">octobre 2015</span>
            </div>
          </div>
        </li>

        <li>
          <div class="ellipsis">
            <div style="margin: 0px; padding: 0px; border: 0px;">
              <a href="/publications/trouvailles/3/" class="ia-link">Alexandre Ier et les Vaudois: un rendez-vous manqué</a>
              <br>
              <span class="ia-date">octobre 2015</span>
            </div>
          </div>
        </li>

      </ul>
    </mat-card-content>
  </mat-card>

</div>
