<div class="project-box" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card>
    <img class="project-image" mat-card-image src="/assets/images/Ask_Me_Anything.jpg" alt="Project image">
    <mat-card-content>
      <h1>Anything Project (font Lane Narrow)</h1>
      <p>Id: http://rdfh.ch/projects/anything (font Arial)</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="project-desc" fxLayout="column" fxLayoutAlign="center center">
  <p>
    Non ea enim fugiat aute deserunt. Tempor do veniam ea esse pariatur consectetur elit cupidatat esse sunt nulla. Commodo adipisicing
    nisi ullamco cillum elit deserunt pariatur mollit amet. Duis nostrud aliqua minim duis velit. Qui anim ipsum consequat
    reprehenderit sunt dolor. Id cillum tempor veniam fugiat ut laboris quis ipsum.
  </p>
</div>
<div class="project-subbox" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <p>
        Ipsum officia labore culpa nulla laborum sint nulla ipsum dolor. Esse incididunt fugiat consequat in anim ea. Nostrud duis
        sunt incididunt duis do fugiat. Sint est esse non consequat amet ut Lorem ipsum adipisicing. Enim irure anim reprehenderit
        irure adipisicing commodo magna nisi deserunt labore exercitation. Et occaecat commodo amet laborum officia esse
        labore Lorem do eu ipsum eiusmod cillum ad. Non minim aliquip exercitation Lorem in id Lorem ad sunt.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <p>
        Ipsum officia labore culpa nulla laborum sint nulla ipsum dolor. Esse incididunt fugiat consequat in anim ea. Nostrud duis
        sunt incididunt duis do fugiat. Sint est esse non consequat amet ut Lorem ipsum adipisicing. Enim irure anim reprehenderit
        irure adipisicing commodo magna nisi deserunt labore exercitation. Et occaecat commodo amet laborum officia esse
        labore Lorem do eu ipsum eiusmod cillum ad. Non minim aliquip exercitation Lorem in id Lorem ad sunt.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <p>
        Ipsum officia labore culpa nulla laborum sint nulla ipsum dolor. Esse incididunt fugiat consequat in anim ea. Nostrud duis
        sunt incididunt duis do fugiat. Sint est esse non consequat amet ut Lorem ipsum adipisicing. Enim irure anim reprehenderit
        irure adipisicing commodo magna nisi deserunt labore exercitation. Et occaecat commodo amet laborum officia esse
        labore Lorem do eu ipsum eiusmod cillum ad. Non minim aliquip exercitation Lorem in id Lorem ad sunt.
      </p>
    </mat-card-content>
  </mat-card>
</div>
<footer>
  <div class="partners" fxLayout="row" fxLayoutAlign="space-around center">
    <div >
      <a href="http://www.unil.ch/index.html" target="_blank">
        <img src="/assets/images/partners/logo-unil.png" alt="Unil" class="img-responsive">
      </a>
    </div>
    <div >
      <a href="http://www.patrimoine.vd.ch/archives-cantonales/accueil" target="_blank">
        <img src="/assets/images/partners/logo-vd.png" alt="Canton de Vaud" class="img-responsive">
      </a>
    </div>
    <div >
      <a href="http://www.lausanne.ch/archives" target="_blank">
        <img src="/assets/images/partners/logo-archives-lausanne.png" alt="Les Archives de la Ville de Lausanne" class="img-responsive">
      </a>
    </div>
    <div >
      <a href="http://www.bcu-lausanne.ch/" target="_blank">
        <img src="/assets/images/partners/logo-bibliotheque-lausanne.png" alt="Bibliothèque Cantonale Universitaire Lausanne" class="img-responsive">
      </a>
    </div>
    <div >
      <a href="http://www.snf.ch/en/Pages/default.aspx" target="_blank">
        <img src="/assets/images/partners/logo-fnsnf.png" alt="Fonds National Suisse de la Recherche Scientifique" class="img-responsive">
      </a>
    </div>
  </div>
  <div class="copyright-bar bar">
    <p>Copyright</p>

  </div>
</footer>
