/* .project-box {
  margin: 10px;
} */

.project-desc {
  margin: 10px 200px 10px 200px;
}

.project-subbox mat-card {
  margin: 5px 30px 5px 30px;
  padding: 15px;
}

.project-image {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  max-height: 70%;
}

.freecontent p,
p.ia {
  margin: 5px 200px 5px 200px;
  /* padding: 0 0 10px 0; */
  text-align: justify;
  line-height: 22px;
  color: #2e2f1e;
}

/* .ia-news {
  margin-right: 35px;
}

.ia-box {
  box-shadow: 0 1px 0 white;
  width: 310px;
  float: left;
}

.ia-box ul {
  background: transparent url(/assets/images/innovagency/bg-box.png) scroll repeat left top;
  box-shadow: inset 0 1px 2px #c4c5b4;
  border-radius: 3px;
  padding: 5px;
  list-style: none;
}

.ia-box li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.ia-news h1 {
  background-image: url(/assets/images/innovagency/icon-news.png);
} */

.mat-card {
  background-image: url('/assets/images/bg-main.gif');

}

.mat-card h3 {
  margin: 0;
}

.mat-card-content {
  background: transparent url(/assets/images/innovagency/bg-box.png) scroll
    repeat left top;
  list-style: none;
  box-shadow: inset 0 1px 2px #c4c5b4;
  border-radius: 3px;
  padding: 10px;
}
.mat-card-content ul {
  list-style: none;
  border-radius: 3px;
  padding: 10px;
}

.mat-card-content li {
  padding: 5px 10px;
}
.ia-date {
  font-size: 10px;
  font-style: italic;
  color: #89826d;
  margin-left: 3px;
}
