<mat-tab-group>

  <mat-tab label="Création de fiches">
    <mat-tab-group>
      <mat-tab label="Biographie">
      </mat-tab>
      <mat-tab label="Livre">
      </mat-tab>
      <mat-tab label="Chapitre de livre">
      </mat-tab>
      <mat-tab label="Article de revue">
      </mat-tab>
      <mat-tab label="Article de dictionnaire">
      </mat-tab>
      <mat-tab label="Manuscrit">
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Gestion des collections">
  </mat-tab>

</mat-tab-group>
