<mat-tab-group>
  <mat-tab label="Biographie">
    <div class="content">






      <h2>Abauzit, Firmin (1679 - 1767)</h2>



      <div class="field_group">
        <div class="field_wrap">
          <div class="field_label">Naissance</div>
          <div class="field_value">12.11.1679 à Uzès (Languedoc)</div>
          <div class="fixclear"></div>
        </div>
        <div class="field_wrap">
          <div class="field_label">Décès</div>
          <div class="field_value">20.03.1767 à Genève</div>
          <div class="fixclear"></div>
        </div>
      </div>


      <div class="field_group">
        <div class="field_wrap">
          <div class="field_label">Confession</div>
          <div class="field_value">Protestant</div>
          <div class="fixclear"></div>
        </div>
        <div class="field_wrap">
          <div class="field_label">Lieu d'origine</div>
          <div class="field_value">Uzès (Languedoc) / Genève (1727)</div>
          <div class="fixclear"></div>
        </div>
        <div class="field_wrap">
          <div class="field_label">Nationalité</div>
          <div class="field_value">Suisse (GE)</div>
          <div class="fixclear"></div>
        </div>
        <div class="field_wrap">
          <div class="field_label">Etat civil</div>
          <div class="field_value">
            <p>Fils de Jean et d'Anne Deville. Célibataire.</p>
          </div>
          <div class="fixclear"></div>
        </div>
      </div>



      <div class="field_group">
        <div class="field_wrap">
          <div class="field_label">Biographie</div>
          <div class="field_value">
            <p>
              "Orphelin de père, A. fut enlevé à sa mère par l'évêque d'Uzès et placé dans un collège catholique. En 1689, elle réussit
              à l'en faire sortir et à l'envoyer à Genève, auprès de son grand-père paternel, marchand drapier. Après des
              études à l'académie, A. voyagea en Hollande (1698), où il se lia avec les frères Basnage, Pierre Jurieu, Pierre
              Bayle, et en Angleterre où il fréquenta Saint-Evremont et Newton. Guillaume III lui offrit de rester à la cour,
              mais, de caractère indépendant, A. préféra rentrer à Genève, où il refusa aussi la chaire de philosophie en
              1723, se contentant d'un poste de bibliothécaire en 1727. Son champ de connaissances était universel: langues
              anciennes, histoire ancienne (y compris archéologie, numismatique, épigraphie) et moderne, géographie (il dressa
              plusieurs cartes: Léman, ancienne Egypte, ancienne Grèce, etc.), mathématiques, sciences naturelles, physique
              (il critiqua les diverses hypothèses relatives à la pesanteur), astrologie (il convainquit Newton de changer
              d'opinion sur l'éclipse observée par Thalès), littérature, philosophie, théologie (par exemple l'article "Apocalypse"
              de l'
              <em>Encyclopédie</em>). A. entretint une abondante correspondance scientifique, mais publia peu."
              <br> (source: extrait tiré d'O. Fatio, "
              <a href="http://www.hls-dhs-dss.ch/textes/f/F11018.php" target="_blank">Abauzit, Firmin</a>", in
              <em>Dictionnaire historique de la Suisse</em>, version du 11.06.2002)</p>
            <p>
              "Doué d'une foi fondée sur l'expérience, Abauzit appartient à cette école de théologiens modérés (libéraux, comme on les
              appellera plus tard), qui fleurit à Genève au début du XVIIIe siècle, et dont Jean-Alphonse Turrettini restera
              le plus illustre représentant."
              <br> (source: extrait tiré de F. Aubert, "Abauzit, Firmin", in
              <a href="http://lumieres.unil.ch/fiches/biblio/7507/">
                <em>DHBS</em>
              </a>, vol. 1, 1921, p. 23-24.)</p>
          </div>
          <div class="fixclear"></div>
        </div>
        <div class="field_wrap">
          <div class="field_label">Commentaires sur son oeuvre/ses écrits</div>
          <div class="field_value"></div>
          <div class="fixclear"></div>
        </div>
        <div class="field_wrap">
          <div class="field_label">Fonctions publiques et privées</div>
          <div class="field_value">
            <ul>

              <li>1727 - 1767&nbsp;&nbsp;Bibliothécaire&nbsp;à&nbsp;Genève</li>

            </ul>
          </div>
        </div>
        <div class="field_wrap">
          <div class="field_label">Sociétés et académies</div>
          <div class="field_value">
            <ul>

              <li>1727 - v. 1767&nbsp;&nbsp;Académie - Genève</li>
            </ul>
          </div>
          <div class="fixclear"></div>
        </div>


      </div>



      <div class="field_group">
        <div class="field_wrap">
          <div class="field_label">Relations et contacts</div>
          <div class="field_value">

            <ul class="relations-list relations-direct">

              <li>Correspondant:
                <a href="/fiches/bio/358/">Bourguet, Louis</a>
              </li>

              <li>Correspondant:
                <a href="/fiches/bio/1397/">Lignon, Jacques Bibaud, marquis du</a>
              </li>

            </ul>


            <ul class="relations-list relations-reverse">
              <li>

                Connaissance proche:
                <a href="/fiches/bio/1649/">Calandrini, Jean-Louis</a>
              </li>
            </ul>


            <br>
            <button type="button" class="relation-browser-but" onclick="var w=window.open('/chercher/person/relations/?p=1648','','width=500,height=400,location=no,status=no,resizable=yes,scrollbars=yes,toolbar=no');w.focus();">
              Parcourir les relations
            </button>

          </div>
          <div class="fixclear"></div>
        </div>
      </div>


      <div class="field_group bio-note">


        <div class="field_wrap">
          <div class="field_label">
            Note
            <br>
            <br>

            <span class="access_status access_status-public" title="Public: visible par tout l'internet">
              <span class="icon">&nbsp;</span> Public</span>
          </div>
          <div class="field_value">
            <p>
              La notice du
              <a href="http://lumieres.unil.ch/fiches/biblio/7507/">
                <em>DHBS</em>
              </a> contient une liste de ses publications.</p>

          </div>
          <div class="fixclear"></div>
        </div>


      </div>



      <div class="field_group">
        <div class="field_wrap">
          <div class="field_label">Fonds d'archives</div>
          <div class="field_value">
            <p>
              Bibliothèque de Genève (BGE), Fonds Abauzit.</p>
          </div>
        </div>







        <div class="field_wrap">
          <div class="field_label">Littérature primaire</div>
          <div class="field_value">
            <ul class="biblioref-list">

              <li>
                <div class="doc_type-label doc_type-1">Livre</div>
                <ul>

                  <li class="doctype_1">
                    <div class="biblioref-item doctype_1">
                      <span class="contributor contrib-authors">
                        <span>Collectif</span>
                      </span>
                      <span class="title">,
                        <a id="Biblio__5774" class="title collectable ia-link" href="/fiches/biblio/5774/" target="_top">Bibliothèque italique ou Histoire littéraire de l'Italie</a>
                      </span>
                      <span class="place">, Genève</span>
                      <span class="publisher"> : Marc-Michel Bousquet &amp; Cie</span>
                      <span class="date">, avril 1728-avril 1734</span>
                      <span class="volumes">, 18 vol.</span>
                    </div>
                  </li>

                  <li class="doctype_1">
                    <div class="biblioref-item doctype_1">
                      <span class="contributor contrib-authors">
                        <span>Senebier, Jean (1742-1809)</span>
                      </span>
                      <span class="title">,
                        <a id="Biblio__4086" class="title collectable ia-link" href="/fiches/biblio/4086/" target="_top">Histoire littéraire de Genève</a>
                      </span>
                      <span class="place">, Genève</span>
                      <span class="publisher"> : chez Barde, Manget et Compagnie</span>
                      <span class="date">, 1786</span>
                      <span class="volumes">, 3 vol.</span>
                    </div>
                  </li>

                </ul>
              </li>

            </ul>
          </div>
          <div class="fixclear"></div>
        </div>



        <div class="field_wrap">
          <div class="field_label">Littérature secondaire</div>
          <div class="field_value">
            <ul class="biblioref-list">

              <li>
                <div class="doc_type-label doc_type-1">Livre</div>
                <ul>

                  <li class="doctype_1">
                    <div class="biblioref-item doctype_1">
                      <span class="contributor contrib-authors">
                        <span>Sayous, Pierre-André</span>
                      </span>
                      <span class="title">,
                        <a id="Biblio__5400" class="title collectable ia-link" href="/fiches/biblio/5400/" target="_top">Le dix-huitième siècle à l'étranger. Histoire de la littérature française dans les divers pays de
                          l'Europe depuis la mort de Louis XIV jusqu'à la Révolution française</a>
                      </span>
                      <span class="place">, Paris</span>
                      <span class="publisher"> : Amyot</span>
                      <span class="date">, 1861</span>
                      <span class="volumes">, 2 vol.</span>
                    </div>
                  </li>

                  <li class="doctype_1">
                    <div class="biblioref-item doctype_1">
                      <span class="contributor contrib-authors"></span>
                      <span class="contributor contrib-director">Godet, Marcel</span>
                      <em> et alii</em> (dir.)






                      <span class="title">,
                        <a id="Biblio__7507" class="title collectable ia-link" href="/fiches/biblio/7507/" target="_top">Dictionnaire historique et biographique de la Suisse</a>
                      </span>
                      <span class="place">, Neuchâtel</span>
                      <span class="publisher"> : Administration du Dictionnaire historique et biographique de la Suisse</span>
                      <span class="date">, 1921-1934</span>
                      <span class="volumes">, 8 vol.</span>
                    </div>
                  </li>

                  <li class="doctype_1">
                    <div class="biblioref-item doctype_1">
                      <span class="contributor contrib-authors">
                        <span>Santschi, Catherine</span>
                        <span> et Roth, Charles</span>
                      </span>
                      <span class="title">,
                        <a id="Biblio__5828" class="title collectable ia-link" href="/fiches/biblio/5828/" target="_top">Catalogue des manuscrits d'Abraham Ruchat</a>
                      </span>
                      <span class="place">, Lausanne</span>
                      <span class="publisher"> : Payot</span>
                      <span>, coll. Etudes et documents pour servir à l'histoire de l'Université de Lausanne 8</span>
                      <span class="date">, 1971</span>
                    </div>
                  </li>

                </ul>
              </li>

            </ul>
          </div>
          <div class="fixclear"></div>
        </div>


      </div>




    </div>
  </mat-tab>
  <mat-tab label="Bibliographie">

    <div class="content">
      <div class="search-navigator">
        <a href="https://lumieres.unil.ch/fiches/biblio/9289/">« Fiche précédente</a>
        <a href="https://lumieres.unil.ch/fiches/biblio/8506/">Fiche suivante »</a>
      </div>






      <h2>


        <div class="biblioref-item doctype_1 inline_doctype inline_doctype_1">
          <span class="contributor contrib-authors">
            <span>Barbeyrac, Jean</span>
          </span>
          <span class="title">, Discours sur l'utilité des lettres et des sciences, par rapport au bien de l'Etat</span>
          <span class="place">, Genève</span>
          <span class="publisher"> : chez Fabri &amp; Barrillot</span>
          <span class="date">, 1714</span>
          <span class="pages">, 20 p.</span>
        </div>

      </h2>



      <div class="panel_box documentfile_list" style="visibility: visible;">
        <h4>Documents</h4>
        <div class="panel_body">
          <ul>


            <li>
              <a class="external" target="_blank" title="Ouvrir « Googlebook BarbeyracJ 1714 » dans une nouvelle page" href="https://books.google.ch/books?id=sxs7AAAAcAAJ">
                <span class="docfile_type_icon docfile_type_url"></span>
                <span>Googlebook BarbeyracJ 1714</span>
              </a>
            </li>


          </ul>
        </div>
      </div>
      <script type="text/javascript">
        ;
        (function ($) {
          var $p = $(".documentfile_list");
          if ($p.find(".panel_body ul li").length > 0) {
            $p.css("visibility", "visible");
          } else {
            $p.remove();
          }
        })(jQuery);

      </script>


      <div class="field_group">

        <div class="field_wrap">
          <div class="field_label">Type de document</div>
          <div class="field_value">Livre</div>
          <div class="fixclear"></div>
        </div>

        <div class="field_wrap">
          <div class="field_label">Littérature</div>
          <div class="field_value">Primaire</div>
          <div class="fixclear"></div>
        </div>

        <div class="field_wrap contributions">
          <div class="field_label">Auteurs</div>
          <div class="field_value">
            <ul>

              <li>
                <span class="name">
                  <a class="biography" href="/fiches/bio/21/">Barbeyrac, Jean (1674 - 1744)</a>
                </span>&nbsp;
                <span class="type">(Auteur)</span>
              </li>

            </ul>
            <div class="fixclear"></div>
          </div>
        </div>

        <div class="field_wrap">
          <div class="field_label">Titre du document</div>
          <div class="field_value">Discours sur l'utilité des lettres et des sciences, par rapport au bien de l'Etat, prononcé aux Promotions publiques
            du Collège de Lausanne, le 2. de Mai M.DCC.XIV</div>
          <div class="fixclear"></div>
        </div>











      </div>




      <div class="field_group">


        <div class="field_wrap">
          <div class="field_label">Lieu</div>
          <div class="field_value">Genève</div>
          <div class="fixclear"></div>
        </div>



        <div class="field_wrap">
          <div class="field_label">Editeur</div>
          <div class="field_value">chez Fabri &amp; Barrillot</div>
          <div class="fixclear"></div>
        </div>









        <div class="field_wrap">
          <div class="field_label">Date</div>
          <div class="field_value">1714</div>
          <div class="fixclear"></div>
        </div>


      </div>


      <div class="field_group">









        <div class="field_wrap">
          <div class="field_label">Pages</div>
          <div class="field_value">20</div>
          <div class="fixclear"></div>
        </div>



        <div class="field_wrap">
          <div class="field_label">Langue</div>
          <div class="field_value">Français</div>
          <div class="fixclear"></div>
        </div>




      </div>

      <div class="field_group">



        <div class="field_wrap subjects">
          <div class="field_label">Sujets</div>
          <div class="field_value">
            <ul>


              <li>
                <span class="sub_label">Mots-clés:</span>
                <ul class="keyword-list">

                  <li>Lieux géographiques


                    <ul>
                      <li>Suisse - Lausanne</li>
                    </ul>

                  </li>

                  <li>Philosophie


                  </li>

                  <li>Politique


                    <ul>
                      <li>Pouvoir - Etat</li>
                    </ul>

                  </li>

                  <li>Société


                    <ul>
                      <li>Education</li>
                      <li>Ecole/Académie</li>
                    </ul>

                  </li>

                </ul>
              </li>






            </ul>
          </div>
          <div class="fixclear"></div>
        </div>

      </div>










      <div class="field_group">



      </div>

      <div class="field_group">

        <div class="field_wrap">
          <div class="field_label">Auteur de la fiche</div>
          <div class="field_value">Ugo Curty</div>
          <div class="fixclear"></div>
        </div>

        <div class="field_wrap">
          <div class="field_label">Dernière modification</div>

          <div class="field_value">13 Jan 2016 -&nbsp;10:18 (Damiano.Bardelli@unil.ch)</div>
          <div class="fixclear"></div>
        </div>
      </div>

      <!-- COinS for Zotero -->
      <span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Discours+sur+l%27utilit%C3%A9+des+lettres+et+des+sciences%2C+par+rapport+au+bien+de+l%27Etat%2C+prononc%C3%A9+aux+Promotions+publiques+du+Coll%C3%A8ge+de+Lausanne%2C+le+2.+de+Mai+M.DCC.XIV&amp;rft.title=Discours+sur+l%27utilit%C3%A9+des+lettres+et+des+sciences%2C+par+rapport+au+bien+de+l%27Etat%2C+prononc%C3%A9+aux+Promotions+publiques+du+Coll%C3%A8ge+de+Lausanne%2C+le+2.+de+Mai+M.DCC.XIV&amp;rft.pub=chez+Fabri+%26+Barrillot&amp;rft.place=Gen%C3%A8ve&amp;rft.pages=20&amp;rft.tpages=20&amp;rft.date=1714&amp;rft.au=Jean%2C%2BBarbeyrac"></span>






    </div>

  </mat-tab>
</mat-tab-group>
