<footer>
    <div class="partners" fxLayout="row" fxLayoutAlign="space-around center">
      <div >
        <a href="http://www.unil.ch/index.html" target="_blank">
          <img src="/assets/images/partners/logo-unil.png" alt="Unil" class="img-responsive">
        </a>
      </div>
      <div >
        <a href="http://www.patrimoine.vd.ch/archives-cantonales/accueil" target="_blank">
          <img src="/assets/images/partners/logo-vd.png" alt="Canton de Vaud" class="img-responsive">
        </a>
      </div>
      <div >
        <a href="http://www.lausanne.ch/archives" target="_blank">
          <img src="/assets/images/partners/logo-archives-lausanne.png" alt="Les Archives de la Ville de Lausanne" class="img-responsive">
        </a>
      </div>
      <div >
        <a href="http://www.bcu-lausanne.ch/" target="_blank">
          <img src="/assets/images/partners/logo-bibliotheque-lausanne.png" alt="Bibliothèque Cantonale Universitaire Lausanne" class="img-responsive">
        </a>
      </div>
      <div >
        <a href="http://www.snf.ch/en/Pages/default.aspx" target="_blank">
          <img src="/assets/images/partners/logo-fnsnf.png" alt="Fonds National Suisse de la Recherche Scientifique" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="copyright-bar bar">
      <p>Copyright</p>

    </div>
  </footer>
