.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.example-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.mat-table {
  overflow: auto;
  height: 400px;
  margin: 20px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
