<div class="center example-container mat-elevation-z8">

  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="label" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Label </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="rights">
      <mat-header-cell *matHeaderCellDef> Rights </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rights}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="nbRows" [length]="resultsLength">
  </mat-paginator>

</div>
