<div class="center">
<mat-tab-group>

  <mat-tab label="Général">
    <div class="search-panel">
      <input matInput #search type="search" (click)="doSearch(search)" placeholder="Search..." />
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <br>
    <mat-checkbox>Fiches bibliographiques</mat-checkbox>
    <mat-checkbox>Fiches de transcription</mat-checkbox>
    <mat-checkbox>Personnes</mat-checkbox>
    <br>
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>

  </mat-tab>

  <mat-tab label="Bibliographie">
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>
  </mat-tab>

  <mat-tab label="Personnes">
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>
  </mat-tab>

  <mat-tab label="Biographie">
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>
    <h3>Result 1:</h3>
    <p>Nulla esse cupidatat ipsum aliquip pariatur eu consectetur. Sunt aute pariatur Lorem laborum tempor sunt incididunt ea
      Lorem. Tempor laboris veniam excepteur ut eiusmod minim elit consectetur esse veniam tempor labore exercitation. Nisi
      pariatur sunt nulla irure minim quis aliqua deserunt anim id ullamco consectetur. Sunt sit in do reprehenderit dolor
      veniam ad dolor. Nulla mollit mollit minim laborum officia amet. Anim laborum ad laborum esse magna excepteur dolor
      ad irure fugiat minim id.</p>
  </mat-tab>

</mat-tab-group>
</div>
