.search-panel {
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: whitesmoke;
  display: inline-flex;
  height: 35px;
  position: relative;
  z-index: 10;
}

.search-panel input {
  background-color: whitesmoke;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: whitesmoke;
  font-size: 12pt;
  height: 37px;
}
