<div class="center">
<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 class="ia">
          <a href="/actualites/117/">Journées d'études "(Ré-)éditer Voltaire. Geste éditorial et réception", 1-2 mars 2018, Université de Berne</a>
        </h2>
      </mat-panel-title>
      <mat-panel-description>
        <p class="ia-date">Actualité publiée le 05.02.2018</p>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="freecontent">


        <img class="dialog-img" alt="" width="450" height="333" src="http://lumieres.unil.ch/media/images/2018/02/Journ%C3%A9es_d%C3%A9tudes_R%C3%A9-%C3%A9diter_Voltaire.__Geste_%C3%A9ditorial_et_r%C3%A9ception.png">



        <h2 style="text-align: center;">
          Journées d'études (Ré-)éditer Voltaire.
          <br> Geste éditorial et réception</h2>
        <h3>
          Université de Berne, jeudi 1er et vendredi 2 mars 2018
          <br> Hauptgebäude, Hochschulstrasse 4, salle 331/3.OG West</h3>
        <h2>
          <strong>
            <span style="color: rgb(46, 47, 30); font-family: Arial, sans-serif; font-size: 13px; text-align: justify;">Jeudi 1er mars</span>
          </strong>
        </h2>
        <p>
          <br>
          <strong>Autour des œuvres</strong>
          <br> 9h30 Dominique Varry, ENSSIB, Lyon -&nbsp;
          <em>Faire tomber le masque : Geoffroy Regnault imprimeur lyonnais de Voltaire</em>
        </p>
        <p>
          10h00 Christiane Mervaud -
          <em>L'annotation du Dictionnaire philosophique de Kehl</em>
        </p>
        <p>
          11h15 Linda Gil, Université Paul Valéry, Montpellier -
          <em>L'édition Kehl des Œuvres complètes de Voltaire : un nouveau lecteur en construction à la veille de la Révolution
            française
          </em>
          <br>
          <br>
          <strong>Des Monuments Singuliers</strong>
          <br> 13h30 Myrtille Méricam-Bourdet, Université de Lyon 2 -
          <em>De tirs d'essai en monuments : l'édition de ses textes historiques du vivant de Voltaire</em>
        </p>
        <p>
          14h00 Laurence Daubercies, doctorante, Université de Liège -
          <em>Les éditions originales du théâtre de Voltaire - Première réception et enjeux identitaires</em>
        </p>
        <p>
          15h00&nbsp; Justine Mangeant, doctorante à l'ENS Lyon -
          <em>" Combattre sur le terrain de la gloire " : Edouard-Marie Lepan, éditeur des Chefs-d'œuvre dramatiques de Voltaire</em>
        </p>
        <p>
          15h30&nbsp; Christina Ionescu, Mount Allison University -
          <em>Le paratexte iconographique des éditions américaines de Candide : emballage éditorial, traduction en images et
            réception d'un succès de librairie</em>
          <br>
          <br>
          <strong>Vendredi 2 mars</strong>
        </p>
        <p>
          <b>Questions et Méthodes</b>
          <br> 10h00 Nicolas Morel, Université de Berne -
          <em>Le " Voltaire de Beuchot " : une première édition savante.</em>
        </p>
        <p>
          10h30 Nicholas Cronk, Oxford, Voltaire Foundation -
          <em>Les Lettres philosophiques et la méthode lansonienne.</em>
        </p>
        <p>
          11h30 &nbsp;Sylvain Menant, Paris-Sorbonne -
          <em>L'édition Bengesco des " Œuvres choisies de Voltaire "</em>
        </p>
        <p>
          13h30 Table ronde :
          <em>Un Voltaire numérique ? Possibilités techniques, difficultés scientifiques et mise en réseau.</em> Présentations
          du Voltaire Lab, du Projet Haller et du Bodmer Lab.</p>
        <p>
          Animé par Glenn Roe, Voltaire Lab - Oxford University, Martin Stuber, Projekt Haller - UNIBE et Marc Kolakowski, Bodmer Lab
          - UNIGE.</p>




        <div class="ia-document">
          <h3 class="ia">Documents</h3>
          <ul>

            <li>
              <a href="/media/files/2018/02/Programme-Colloque_R%C3%A9-%C3%A9diter_Voltaire.pdf" target="_blank">Programme de la journée d'étude</a>
            </li>

          </ul>
        </div>



        <div class="clear"></div>
      </div>

  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 class="ia">
          <a href="/actualites/117/"><h2 class="ia"><a href="/actualites/116/">Conférence "Rousseau, Poland and Europe: Federalism, Sovereignty, Prosperity, Patriotism", Varsovie, 1-3 février 2018</a></h2></a>
        </h2>
      </mat-panel-title>
      <mat-panel-description>
        <p class="ia-date">Actualité publiée le 24.01.2018

          </p>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="freecontent">


        <img class="dialog-img" alt="" width="450" height="333" src="http://lumieres.unil.ch/media/images/2018/02/Journ%C3%A9es_d%C3%A9tudes_R%C3%A9-%C3%A9diter_Voltaire.__Geste_%C3%A9ditorial_et_r%C3%A9ception.png">



        <h2 style="text-align: center;">
          Journées d'études (Ré-)éditer Voltaire.
          <br> Geste éditorial et réception</h2>
        <h3>
          Université de Berne, jeudi 1er et vendredi 2 mars 2018
          <br> Hauptgebäude, Hochschulstrasse 4, salle 331/3.OG West</h3>
        <h2>
          <strong>
            <span style="color: rgb(46, 47, 30); font-family: Arial, sans-serif; font-size: 13px; text-align: justify;">Jeudi 1er mars</span>
          </strong>
        </h2>
        <p>
          <br>
          <strong>Autour des œuvres</strong>
          <br> 9h30 Dominique Varry, ENSSIB, Lyon -&nbsp;
          <em>Faire tomber le masque : Geoffroy Regnault imprimeur lyonnais de Voltaire</em>
        </p>
        <p>
          10h00 Christiane Mervaud -
          <em>L'annotation du Dictionnaire philosophique de Kehl</em>
        </p>
        <p>
          11h15 Linda Gil, Université Paul Valéry, Montpellier -
          <em>L'édition Kehl des Œuvres complètes de Voltaire : un nouveau lecteur en construction à la veille de la Révolution
            française
          </em>
          <br>
          <br>
          <strong>Des Monuments Singuliers</strong>
          <br> 13h30 Myrtille Méricam-Bourdet, Université de Lyon 2 -
          <em>De tirs d'essai en monuments : l'édition de ses textes historiques du vivant de Voltaire</em>
        </p>
        <p>
          14h00 Laurence Daubercies, doctorante, Université de Liège -
          <em>Les éditions originales du théâtre de Voltaire - Première réception et enjeux identitaires</em>
        </p>
        <p>
          15h00&nbsp; Justine Mangeant, doctorante à l'ENS Lyon -
          <em>" Combattre sur le terrain de la gloire " : Edouard-Marie Lepan, éditeur des Chefs-d'œuvre dramatiques de Voltaire</em>
        </p>
        <p>
          15h30&nbsp; Christina Ionescu, Mount Allison University -
          <em>Le paratexte iconographique des éditions américaines de Candide : emballage éditorial, traduction en images et
            réception d'un succès de librairie</em>
          <br>
          <br>
          <strong>Vendredi 2 mars</strong>
        </p>
        <p>
          <b>Questions et Méthodes</b>
          <br> 10h00 Nicolas Morel, Université de Berne -
          <em>Le " Voltaire de Beuchot " : une première édition savante.</em>
        </p>
        <p>
          10h30 Nicholas Cronk, Oxford, Voltaire Foundation -
          <em>Les Lettres philosophiques et la méthode lansonienne.</em>
        </p>
        <p>
          11h30 &nbsp;Sylvain Menant, Paris-Sorbonne -
          <em>L'édition Bengesco des " Œuvres choisies de Voltaire "</em>
        </p>
        <p>
          13h30 Table ronde :
          <em>Un Voltaire numérique ? Possibilités techniques, difficultés scientifiques et mise en réseau.</em> Présentations
          du Voltaire Lab, du Projet Haller et du Bodmer Lab.</p>
        <p>
          Animé par Glenn Roe, Voltaire Lab - Oxford University, Martin Stuber, Projekt Haller - UNIBE et Marc Kolakowski, Bodmer Lab
          - UNIGE.</p>




        <div class="ia-document">
          <h3 class="ia">Documents</h3>
          <ul>

            <li>
              <a href="/media/files/2018/02/Programme-Colloque_R%C3%A9-%C3%A9diter_Voltaire.pdf" target="_blank">Programme de la journée d'étude</a>
            </li>

          </ul>
        </div>



        <div class="clear"></div>
      </div>

  </mat-expansion-panel>


</mat-accordion>

</div>
