<div class="center">
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 1
        </mat-panel-title>
        <mat-panel-description>
          desc: bla bla bla
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Velit non quis occaecat cillum laborum sint consequat voluptate quis quis eiusmod Lorem. Est commodo officia laboris
        id laboris amet tempor nostrud incididunt tempor proident adipisicing eiusmod veniam. Enim deserunt aute adipisicing
        fugiat minim excepteur do consequat est ipsum sit amet. Culpa do ea adipisicing cillum voluptate proident esse veniam
        deserunt labore et. Esse id laborum veniam qui eiusmod qui id laborum. Pariatur adipisicing ex aliqua proident incididunt
        aliquip et officia in adipisicing. Pariatur ipsum sunt fugiat aliquip elit Lorem sint deserunt fugiat culpa non dolore.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 2
        </mat-panel-title>
        <mat-panel-description>
          desc: bla bla bla
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Amet et sint labore adipisicing nisi amet eu anim incididunt. Lorem do proident incididunt occaecat. Culpa qui qui
        ad sunt elit dolore aliquip id culpa est. Proident duis cillum qui eu sit fugiat. Culpa ex in cillum aliqua eiusmod
        excepteur. Aliquip aliqua exercitation enim eiusmod enim incididunt labore velit enim.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 3
        </mat-panel-title>
        <mat-panel-description>
          desc: bla bla bla
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Amet et sint labore adipisicing nisi amet eu anim incididunt. Lorem do proident incididunt occaecat. Culpa qui qui
        ad sunt elit dolore aliquip id culpa est. Proident duis cillum qui eu sit fugiat. Culpa ex in cillum aliqua eiusmod
        excepteur. Aliquip aliqua exercitation enim eiusmod enim incididunt labore velit enim.</p>
      <p>Amet et sint labore adipisicing nisi amet eu anim incididunt. Lorem do proident incididunt occaecat. Culpa qui qui
        ad sunt elit dolore aliquip id culpa est. Proident duis cillum qui eu sit fugiat. Culpa ex in cillum aliqua eiusmod
        excepteur. Aliquip aliqua exercitation enim eiusmod enim incididunt labore velit enim.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 4
        </mat-panel-title>
        <mat-panel-description>
          desc: bla bla bla
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Velit non quis occaecat cillum laborum sint consequat voluptate quis quis eiusmod Lorem. Est commodo officia laboris
        id laboris amet tempor nostrud incididunt tempor proident adipisicing eiusmod veniam. Enim deserunt aute adipisicing
        fugiat minim excepteur do consequat est ipsum sit amet. Culpa do ea adipisicing cillum voluptate proident esse veniam
        deserunt labore et. Esse id laborum veniam qui eiusmod qui id laborum. Pariatur adipisicing ex aliqua proident incididunt
        aliquip et officia in adipisicing. Pariatur ipsum sunt fugiat aliquip elit Lorem sint deserunt fugiat culpa non dolore.</p>
    </mat-expansion-panel>

  </mat-accordion>
</div>
