<div class="project-subbox" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      <div (click)="openDialog()">
        <img src="http://lumieres.unil.ch/media/cache/5e/cd/5ecdff4b5981803fdf93dc627f75150b.jpg">
        <h3>Mercure suisse - Journal helvétique (1732-1782)</h3>
      </div>
    </mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div (click)="openDialog()">
        <img src="http://lumieres.unil.ch/media/cache/46/d9/46d959c11eeba9ae4756b773b7692ab3.jpg">
        <h3>Correspondance Mirabeau - Sacconay (1731-1784)</h3>
      </div>
    </mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div (click)="openDialog()">
        <img src="http://lumieres.unil.ch/media/cache/ee/da/eeda1d2ecd1e56762e04505f561037da.jpg">
        <h3>Société du comte de la Lippe (1742-1747)</h3>
      </div>
    </mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div (click)="openDialog()">
        <img src="http://lumieres.unil.ch/media/cache/d6/78/d678cbce7c0206e7a1677775d09f7682.jpg">
        <h3>La Harpe et la Russie (1783-1795)</h3>
      </div>
    </mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div (click)="openDialog()">
        <img src="http://lumieres.unil.ch/media/cache/09/5f/095fe80208e84b2a4b4be93b27828244.jpg">
        <h3>Le droit naturel en Suisse (1625-1850)</h3>
      </div>
    </mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div (click)="openDialog()">
        <img src="http://lumieres.unil.ch/media/cache/e1/33/e133d2b940c2557b904a2f74db2badc2.jpg">
        <h3>Correspondance Barbeyrac (1702-1743)</h3>
      </div>
    </mat-card-title>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <div (click)="openDialog()">
        <img src="http://lumieres.unil.ch/media/cache/3a/b7/3ab7d739dc8826d3b292988319f05fff.jpg">
        <h3>A. C. Chavannes et sa "Science générale de l'homme" (1788)</h3>
      </div>
    </mat-card-title>
  </mat-card>

</div>
