<div class="ia-content-outer">
  <div id="page-content" class="ia-content-inner">



    <h1 class="ia">Projet Lumières.Lausanne</h1>

    <div class="freecontent">
      <p>
        Tout au long du XVIIIe siècle, Lausanne et le pays de Vaud, ancienne terre de refuge, ont joui d'une scène culturelle et
        intellectuelle étonnamment riche qui a attiré des étrangers de toute l'Europe, parmi lesquels Voltaire et Gibbon.
        Un nombre élevé de Vaudois séjournaient alors dans des cours de plus ou moins grande importance à titre de précepteurs
        ou de conseillers, tels Frédéric-César de La Harpe, Pierre-Maurice Glayre ou Marc Reverdil. Avec Jean Barbeyrac,
        Jean-Pierre de Crousaz, Gabriel Seigneux de Correvon, Auguste Tissot ou encore Benjamin Constant, la ville a abrité
        des représentants clé du mouvement de réformes des Lumières. Elle a en outre connu un petit âge d'or de l'édition
        et un essor notable des sociétés de pensée.</p>
      <p>
        Lumières.Lausanne est une plateforme qui met à disposition des chercheurs et de tout public intéressé par le riche passé
        culturel de la Suisse francophone des
        <a href="http://lumieres.unil.ch/chercher/bibliographie/">transcriptions de sources</a> jusqu'alors inédites, de la
        <a href="http://lumieres.unil.ch/chercher/bibliographie/">littérature secondaire</a> et des
        <a href="http://lumieres.unil.ch/chercher/person/list">fiches biographiques</a> sur des personnalités qui l’ont marqué. Il s’agit non seulement d’un instrument de recherche
        et d’un support de publications, mais aussi d’un outil d'enseignement académique, puisqu'elle associe des étudiant-e-s
        de niveau master et des doctorant-e-s à la saisie et à la valorisation des données. A ce titre, la plateforme sert
        de laboratoire en humanités digitales, permettant de développer des connaissances dans ce domaine en expansion. La
        base de données se transforme continuellement en intégrant de nouveaux éléments afin d'améliorer les échanges entre
        les chercheurs et un public plus large.</p>
      <p>
        Sept
        <a href="http://lumieres.unil.ch/projets/">projets</a>, dont certains en partenariat avec d'autres institutions, sont actuellement visibles sur la plateforme
        Lumières.Lausanne. Il s'agit, dans l'ordre chronologique de leur développement, des projets
        <em>Société du comte de la Lippe (1742-1747)</em>,
        <em>Journal helvétique</em>
        <em>(1732-1782)</em>,
        <em>Correspondance de Mirabeau</em>-
        <em>Sacconay (1731-1784)</em>,
        <em>La Harpe et la Russie (1783-1795),</em>
        <em>A. C. Chavannes et sa "Science générale de l'homme" (1788)</em>,
        <em> Correspondance Barbeyrac (1702-1743) </em>et
        <em> Droit naturel en Suisse (1625-1850)</em>.
        <br> &nbsp;
      </p>
      <h3>
        Comment nous aider ?</h3>
      <p>
        Vous avez rencontré une erreur dans un de nos nombreux documents? Vous avez des informations sur un des personnages mentionnés
        dans nos transcriptions? Ou encore, vous possédez une correspondance ou d'autres documents inconnus qui pourraient
        intéresser le groupe Lumière.Lausanne? Peut-être souhaiteriez-vous même financer l'édition de nouveaux textes?
        <a
          href="http://lumieres.unil.ch/presentation/qui-sommes-nous/">N'hésitez pas à nous contacter.</a> Nous serons heureux de collaborer avec vous.
          <br> &nbsp;
      </p>
      <h3>
        Obtenir un compte</h3>
      <p>
        Si vous êtes un utilisateur régulier de la base, vous pouvez
        <a href="mailto:lumieres.lausanne@unil.ch?subject=Lumi%C3%A8res.Lausanne%20Inscription-nouveau%20compte&amp;body=%0AMerci%20de%20bien%20vouloir%20nous%20fournir%20les%20informations%20suivantes%2C%20qui%20nous%20permettent%20de%20mieux%20conna%C3%AEtre%20nos%20utilisateurs%20et%20leurs%20int%C3%A9r%C3%AAts.%0A%0APr%C3%A9nom%20et%20nom%3A%20%0AAdresse%20postale%3A%20%0AProfession%3A%20%0AInstitution%3A%20%0ARecherche(s)%20li%C3%A9e(s)%20%C3%A0%20la%20base%3A%20%0AInt%C3%A9ress%C3%A9(e)%20%C3%A0%20%C3%AAtre%20tenu(e)%20au%20courant%20des%20activit%C3%A9s%20li%C3%A9es%20au%20projet%20Lumi%C3%A8res.Lausanne%3F%20">obtenir un compte personnel </a>qui vous permettra de gérer vos propres collections bibliographiques.</p>
<br>
      </div>

    <div class="clear"></div>


  </div>
</div>
