<div class="signin-box" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card>
    <mat-card-content>
      <h2>
        <span>Connexion locale</span>
      </h2>
      <p> Pour les utilisateurs non-AAI qui ont reçu un compte local pour Lumières.Lausanne
      </p>
      <form class="signin-container" #form="ngForm" (ngSubmit)="authenticate()">
        <mat-form-field>
          <!-- <mat-icon matPrefix>person</mat-icon> -->
          <input matInput placeholder="Email" required autofocus name="email" [(ngModel)]="credentials.email">
        </mat-form-field>
        <mat-form-field>
          <!-- <mat-icon matPrefix>lock</mat-icon> -->
          <input matInput placeholder="Password" type="password" required name="password" [(ngModel)]="credentials.password">
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="form.invalid">
          <mat-icon>lock_open</mat-icon>Login

        </button>
        <br>
        <a href="/accounts/reset_password/">Mot de passe oublié ?</a>
      </form>
    </mat-card-content>
  </mat-card>
</div>
